<nav class="w-full flex justify-center py-4 bg-gray-50 border-b border-gray-200 mb-8">
  <div class="flex gap-6">
    <%= link_to 'Sign In', new_session_path, class: 'text-blue-600 hover:underline font-semibold' %>
    <%= link_to 'Register', new_registration_path, class: 'text-blue-600 hover:underline font-semibold' %>
    <%= link_to 'Forgot password?', new_password_path, class: 'text-gray-600 hover:underline' %>
  </div>
</nav> 